:root {
    --cell-size: 7vh;
    --cell-border-color: #322e2f;
    --grid-width: 7;
}

body {
    user-select: none;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(64,64,179,1) 0%, rgba(0,212,255,1) 100%);
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: "Doctor Glitch", serif;
}

.header {
    width: 100vw;
    background-color: rgba(244, 239, 239, 0.96);
    box-shadow: 0 0 25px #302C2CDD;
    display: flex;
    justify-content: center;
}

.header .title {
    font-size: xxx-large;
}

.footer {
    z-index: -1;
    display: flex;
    justify-content: space-around;
    margin: 0;
    width: 100vw;
    height: 5vh;
    position: fixed;
    left: 0;
    bottom: 0;
    color: rgba(244, 239, 239, 0.96);
    background-color: #302C2CDD;
}

.footer p {
    font-size: medium;
}

.board-box {
    width: 100vw;
    height: 85vh;
    justify-items: center;
    align-content: center;
}

.board {
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    border-radius: 15px;
    border: 4px solid var(--cell-border-color);
    background-color: var(--cell-border-color);
}

.container {
    display: grid;
    grid-template-columns: repeat(var(--grid-width), auto);
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.cell {
    display: flex;
    margin: 5px;
    width: var(--cell-size);
    height: var(--cell-size);
    justify-items: center;
    align-items: center;
    border-radius: 50%;
    background-color: #f4efef;
    overflow: hidden;
    transition: ease-in-out 0.4s;
}

.column {
    border-radius: 12px;
    transition: ease-in-out 0.4s;
}

.column:not(.filled) {
    cursor: pointer;
}

.column.filled {
    cursor: not-allowed;
}

.column:hover {
    background-color: #636161;
    transition: ease-in-out 0.4s;
}

.cell.preview {
    animation-name: cellPreviewShadow;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    transition: ease-in-out 0.4s;
}

.end-container {
    flex-direction: row;
    display: flex;
    margin: 15px;
    align-content: center;
    justify-content: space-evenly;
    justify-items: center;
    align-items: center;
}

.button {
    color: white;
    background-color: #1176d5;
    padding: 8px;
    height: 35px;
    width: 75px;
    font-weight: bold;
    text-align: center;
    border-radius: 8px;
    transition: ease-in-out 0.4s;
    justify-content: center;
    align-content: center;
    cursor: pointer;
}

.button:hover {
    background-color: white;
    color: #1176d5;
    font-weight: bolder;
    padding: 10px;
    border-radius: 10px;
    animation-name: buttonHoverShadow;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    transition: ease-in-out 0.4s;
}

.trapezoid-container {
    justify-content: space-between;
    align-items: center;
    display: none;
}

.trapezoid-content-in {
    transition: opacity 0.5s ease;
    opacity: 1;
}

.trapezoid-content-out {
    transition: opacity 1.15s ease;
    opacity: 0;
}

.trapezoid {
    width: 60vw;
    height: 100vh;
    position: absolute;
}

#trapezoid-left {
    clip-path: polygon(0 0, 100% 0, 75% 100%, 0% 100%);
    left: 0;
    background-color: #d14949;
    transform: translateX(-65vw);
}

#trapezoid-right {
    clip-path: polygon(25% 0, 100% 0, 100% 100%, 0% 100%);
    right: 0;
    background-color: #4848bf;
    transform: translateX(65vw);
}

.trapezoid-left-in {
    animation: animateInLeftTrapezoid forwards 1.5s;
}

.trapezoid-right-in {
    animation: animateInRightTrapezoid forwards 1.5s;
}

.trapezoid-left-out {
    animation: animateOutLeftTrapezoid forwards 1.5s;
}

.trapezoid-right-out {
    animation: animateOutRightTrapezoid forwards 1.5s;
}

.trapezoid-content {
    display: flex;
    gap: 12.5vh 0;
    width: 100vw;
    height: 100vh;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    z-index: 1;
}

.message {
    font-size: xxx-large;
    width: 200px;
    text-shadow: 0 0 15px #302c2c;
    color: white;
    text-align: center;
    transition: ease-in-out 3s;
}

.winner-cell, .winner-cell-ran-away {
    width: var(--cell-size);
    height: var(--cell-size);
    border-radius: 50%;
    background-color: white;
    animation-fill-mode: forwards;
}

.winner-cell {
    animation: animateWinnerCircle 1.5s infinite;
}

.winner-cell-ran-away {
    animation: circleRunAway 1.5s infinite;
}

@keyframes animateInRightTrapezoid {
    from {transform: translateX(60vw);}
    to {transform: translateX(0vw);}
}

@keyframes animateInLeftTrapezoid {
    from {transform: translateX(-65vw);}
    to {transform: translateX(-4vw);}
}

@keyframes animateOutRightTrapezoid {
    to {transform: translateX(60vw);}
    from {transform: translateX(0vw);}
}

@keyframes animateOutLeftTrapezoid {
    to {transform: translateX(-65vw);}
    from {transform: translateX(-4vw);}
}

@keyframes animateWinnerCircle {
    0% {transform: translateY(-1vh) scaleX(0.95);}
    35% {transform: translateY(-8vh) scaleX(0.9125);}
    70% {transform: translateY(0) scaleX(1.15);}
    100% {transform: translateY(-1vh) scaleX(0.95);}
}

@keyframes cellPreviewShadow {
    0%   {box-shadow: 0 0 5px rgba(251, 249, 249, 0.6), 0 0 15px rgb(62, 57, 54);}
    10%  {box-shadow: 0 0 7px rgba(251, 249, 249, 0.7), 0 0 13px rgba(62, 57, 54, 0.9);}
    20%  {box-shadow: 0 0 9px rgba(251, 249, 249, 0.8), 0 0 11px rgba(62, 57, 54, 0.8);}
    30%  {box-shadow: 0 0 11px rgba(251, 249, 249, 0.9), 0 0 9px rgba(62, 57, 54, 0.7);}
    40%  {box-shadow: 0 0 13px rgba(251, 249, 249, 1), 0 0 7px rgba(62, 57, 54, 0.6);}
    50%  {box-shadow: 0 0 15px rgba(251, 249, 249, 1), 0 0 5px rgba(62, 57, 54, 0.6);}
    60%  {box-shadow: 0 0 13px rgba(251, 249, 249, 1), 0 0 7px rgba(62, 57, 54, 0.6);}
    70%  {box-shadow: 0 0 11px rgba(251, 249, 249, 0.9), 0 0 9px rgba(62, 57, 54, 0.7);}
    80%  {box-shadow: 0 0 9px rgba(251, 249, 249, 0.8), 0 0 11px rgba(62, 57, 54, 0.8);}
    90%  {box-shadow: 0 0 7px rgba(251, 249, 249, 0.7), 0 0 13px rgba(62, 57, 54, 0.9);}
    100%  {box-shadow: 0 0 5px rgba(251, 249, 249, 0.6), 0 0 15px rgba(62, 57, 54, 1);}
}

@keyframes buttonHoverShadow {
    0%   {box-shadow: 0 0 5px rgba(251, 249, 249, 0.6); text-shadow: 0 0 7px rgb(68, 136, 198);}
    10%  {box-shadow: 0 0 7px rgba(251, 249, 249, 0.7); text-shadow: 0 0 6px rgba(68, 136, 198, 0.9);}
    20%  {box-shadow: 0 0 9px rgba(251, 249, 249, 0.8); text-shadow: 0 0 4px rgba(68, 136, 198, 0.8);}
    30%  {box-shadow: 0 0 11px rgba(251, 249, 249, 0.9); text-shadow: 0 0 3px rgba(68, 136, 198, 0.7);}
    40%  {box-shadow: 0 0 13px rgba(251, 249, 249, 1); text-shadow: 0 0 2px rgba(68, 136, 198, 0.6);}
    50%  {box-shadow: 0 0 15px rgba(251, 249, 249, 1); text-shadow: 0 0 2px rgba(68, 136, 198, 0.6);}
    60%  {box-shadow: 0 0 13px rgba(251, 249, 249, 1); text-shadow: 0 0 2px rgba(68, 136, 198, 0.6);}
    70%  {box-shadow: 0 0 11px rgba(251, 249, 249, 0.9); text-shadow: 0 0 3px rgba(68, 136, 198, 0.7);}
    80%  {box-shadow: 0 0 9px rgba(251, 249, 249, 0.8); text-shadow: 0 0 4px rgba(68, 136, 198, 0.8);}
    90%  {box-shadow: 0 0 7px rgba(251, 249, 249, 0.7); text-shadow: 0 0 6px rgba(68, 136, 198, 0.9);}
    100%  {box-shadow: 0 0 5px rgba(251, 249, 249, 0.6); text-shadow: 0 0 7px rgba(68, 136, 198, 1);}
}

@keyframes circleRunAway {
    from { transform: translateY(0)}
    to { transform: translateY(-50vh)}
}

@font-face {
    font-family: "Doctor Glitch";
    src: url("assets/fonts/Doctor Glitch.otf")
}